@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,800;1,700&display=swap');
      *{
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", sans-serif;
        font-size: large;
      }
      .header {
        background-image: url(images/slide-03.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 580px;
      }
      .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
        padding: 10px;
      }
      
      .navbar h2 span{
        font-weight: lighter;
      }
      
      .navbar .menu li {
        list-style: none;
        display: inline;
      }
      .navbar .menu li a {
        color: black;
        text-decoration: none;
        padding: 5px;
        margin: 10px;
      }
      
      .navbar li a:hover {
        background-color: black;
        color: white;
        border: 1px black solid;
        border-radius: 5px;
      }
      /* .icons{
        margin-left: 100px;
      } */
      .icons i{
        cursor: pointer;
        margin: 0px 10px;
      }
      .icons i:hover{
        color: rgb(0, 89, 255);
        border-radius: 5px;
      }
      
      .side{
        margin: 120px;
      }
      .side h1{
        font-family: 'Playfair Display', serif;
        font-size: xx-large;
        font-weight: lighter;
        margin: 20px 0px;
      }
      .side h5{
        font-family: Poppins-Regular;
        font-size: 28px;
        font-weight: lighter;
        margin: 20px 0px;
      }
      .side button{
        border: 2px solid black;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: medium;
        font-weight: 700;
        margin: 20px 0px;
      }
      .side button:hover{
        color: whitesmoke;
        background-color: black;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: medium;
        font-weight: 700;
        margin: 20px 0px;
      }
      .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 50px 100px;
      }
      .items{
        width: 30%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        border: 2px solid lightgrey;
      }
      #women{
        background-image: url(images/banner-01.jpg);
      }
      #men{
        background-image: url(images/banner-02.jpg);
      }
      #ass{
        background-image: url(images/banner-03.jpg);
      }
      .text{
        padding-top: 30px;
        padding-left: 30px;
      }

      .text span{
        font-size: small;
        font-weight: lighter;
      }

      .article{
        margin: 50px 100px;
        padding: 0px 20px;
      }
      
      .productmenu ul{
        margin-top: 20px;
      }
      .productmenu ul a{
        text-decoration: none;
        color: black;
      }

      .productmenu li{
        list-style: none;
        display: inline;
        margin-right: 10px;
      }
      .shop{
        margin: 0px 50px;
      }
      .row img{
        height: 250px;
        width: 200px;
      }
      .row img:hover{
        cursor: pointer;
        background-color: rgb(135, 147, 222,50%);
        height: 250px;
        width: 200px;
      }
      .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 30px auto;
      }
      .item p,.item span{
        font-weight: lighter;
        font-size: small;
      }
      #btn2{
        border: 2px solid black;
        padding: 10px 20px;
        border-radius: 23px;
        font-weight: bold;
        cursor: pointer;
      }
      #btn2:hover{
        background-color: black;
        color: white;
      }
      
      .foot{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: black;
        color: whitesmoke;
        height: 300px;
      }
      
      .content {
        width: 20%;
        color: lightgray;
        margin: auto;
      }
      .content li{
        list-style: none;
        margin: 2px 0px;
      }
      .content li a, p{
        font-size: x-small;
        font-weight: lighter;
      
      }
      #head1{
        margin-bottom: 33px;
      }
      #head2{
        margin-bottom: 35px;
      }
      #head3{
        margin-bottom: 30px;
      }
      #head4{
        margin-bottom: 40px;
      }
      .content ul li a{
        color: whitesmoke;
        text-decoration: none;
      }
      .content input{
        color: whitesmoke;
        background-color: black;
        border-bottom: 0px;
        margin-bottom: 10px;
      }
      .search{
        border-bottom: 2px solid white;
        margin-bottom: 10px;
      }
      #case{
        line-height: 2;
      }
      

      